body{
    background-color:yellow;
}
.container{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    width: 450px;
    padding: 40px 30px;
}
h1{
    margin: 0;
}
p{
    margin: 10px 0;
    color: #999;
}
p>a{
   color: blue;
   text-decoration: none; 
}
form>div{
    line-height: 4;
}
form label{
    color: #999;
    margin-right: 30px;
}
/* 
逗号选择器：A,B ：样式对A、B均生效
*/
form div:nth-of-type(1) input,form div:nth-of-type(2) input,form div:nth-of-type(3) input{
    line-height: 2.5;
    width: 350px;
}

#verify{
    line-height: 2.5 ;
    width: 220px;
}
/* 
+:相邻选择器;A+B:找A后面相邻的同层级的B
*/
#verify+span{
    background-color: white;
    border: 0.5px solid #999;
    display: inline-block;
    font-size: 15px;
    padding: 0 20px;
    line-height: 2.5;
    border-radius: 4px;
}
#verify+span:hover{
    color: blue;
    border-color: blue;
    /* cursor:光标

    pointer:手;
    move:移动；
    crosshair:十字架；
    help:？
    wait:等待
    .....
     */
    cursor:pointer;
}
form input[type=submit]{
    width: 430px;
    padding: 15px 0;
    border-radius: 25.5px;
    background-color: skyblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-top: 40px;
}
form div:last-of-type{
    font-size: 12px;
    text-align: center;
}
form div:last-of-type a{
    color: blue;
    text-decoration: none;
}
form div:last-of-type a:hover{
    text-decoration: underline;
}
